# Python cache
__pycache__/

# Datasets, logs, and local scripts
edu_fineweb10B/
hellaswag/
dolly15k/
git_chore.sh

docs/*.txt

.VSCodeCounter/
.obsidian/

*.npy

nohup.out

report/REPORT.aux
report/REPORT.log
report/REPORT.synctex.gz